* {
  box-sizing: border-box;
  /*faz com que a largura e altura de um elemento incluam o preenchimento (padding) e a borda (border) no cálculo, resultando em um layout mais previsível*/
}
body {
  background-color: rgb(26, 26, 26); /*define a cor do fundo da pagina*/
}

.card {
  color: rgb(255, 255, 255); /*define a cor do texto na card*/
  font-family: sans-serif; /*define fonte do card*/
  border: 1px solid white; /*Borda branca pequena*/
  border-radius: 10px; /*define o raio da borda card*/
  text-align: center; /*define a aliamento do texto do card*/
  width: 20%; /*define o tamanho do card*/
  margin: 0 auto; /* margin 0 pra cima e pra baixo e auto pra esquerda e pra direita, isso faz a div ficar centralizada*/
  padding: 10px; /*tamanho do preenchimnto do card*/
  box-shadow: 5px 6px 0 white; /*sombra da caixa*/
}
.card img {
  width: 100%; /* largura de 100% da imagem*/
  border-radius: 8px; /* Cantos arredondados */
}

 